<!DOCTYPE html>
<html>
<head>
  <title>Railswithgoodies</title>
  <%= stylesheet_link_tag    '/assets/css/application', media: 'all', 'data-turbolinks-track' => true %>
  <script data-main="/assets/js/config" src="/assets/vendor/require.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
